*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/* CONTEINER-ITEMS */
#conteiner-items{
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
}
#conteiner-items{
    content: "";
    display: table;
    clear: both;
}
/*  */
/* conteiner-items ///items/// */
.items{
    width: 266.4px;
    height: 450px;
    float: left;
    padding:5px
}
.img-zone{
    height: 80%;
    position: relative;
}
.text-zone{
    height: 100%;
    font-size: 13px;
    padding: 5px;
    position: relative;
}
.items-text{
    height: 20%;
    padding:0px 10px 10px 10px;
}
/*  */
/*conteiner-items ///items/// IMAGE ZONE */
.sale{
    background-color: red;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: white;
    font-size: small;
    padding: 3px;
    border-radius:5px;
}
.attribute{
    background-color: yellowgreen;
    position: absolute;
    bottom: 5px;   
    left: 50px;
    font-size: small;
    padding: 3px;
    border-radius:5px;
}
.icon-heart{
    font-size: 30px;
    position: absolute;
    right: 7px;
}
.img-zone:hover .icon-heart{
    color: red;
}
/*  */
/* conteiner-items ///items/// IMAGE ZONE/// ARTICLE1 */
.article1:hover{
    background:url(../img/1-hover.webp);
    background-size: cover;
}
.article1{
    background: url(../img/1.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*  */
/*conteiner-items ///items/// IMAGE ZONE/// ARTICLE2  */
.article2:hover{
    background:url(../img/2-hover.webp);
    background-size: cover;
}
.article2{ 
    background: url(../img/2.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* conteiner-items ///items/// IMAGE ZONE/// ARTICLE3 */
.article3:hover{
    background:url(../img/3-hover.webp);
    background-size: cover;
}
.article3{
    background: url(../img/3.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.items3 .text-zone{
    background-color: rgba(12, 110, 49, 0.5);
    line-height: 20px;
}
/*  */
/* conteiner-items ///items/// IMAGE ZONE/// ARTICLE4 */
.article4:hover{
    background:url(../img/4-hover.webp);
    background-size: cover;
}
.article4{
    background: url(../img/4.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*  */
/* conteiner-items ///items/// IMAGE ZONE/// ARTICLE5 */
.article5:hover{
    background:url(../img/5-hover.webp);
    background-size: cover;
}
.article5{
    background: url(../img/5.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*  */
/*  conteiner-items ///items/// IMAGE ZONE/// ARTICLE6 */
.article6:hover{
    background:url(../img/6-hover.webp);
    background-size: cover;
}
.article6{
    background: url(../img/6.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*  */


.red{
    color: red;
}
.text-zone>div{
    position: absolute;
    bottom: 0px;
}